// declare a mixin
@mixin gutter($width, $height, $radius: $radius, $base-size: $base-size) {
  margin: calc($base-size / 2);
  height: calc($height - 2 * $base-size / 2);
  width: calc($width - 2 * $base-size / 2);
  border-radius: $radius;
}

.homepage {
  padding: calc($base-size * 3) 0;
  font-family: $font-header;

  &__intro {
    color: $color-light;
    position: relative;

    display: flex;
    flex-wrap: wrap;

    &__action {
      position: relative;
      width: 50%;
      height: calc($base-size * 10);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      @include gutter(50%, calc($base-size * 10));

      &__title {
        display: block;
        position: relative;
        text-align: center;
        z-index: 1;
      }

      &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &__hours {
      background-color: $color-main;
      width: 100%;
      height: calc($base-size * 10);
      @include flex(column, center, center);
      @include gutter(100%, calc($base-size * 10));

      h1 {
        margin: 0 0 0 0;
        font-weight: normal;
        font-size: 3 * $base-size;
      }

      p {
        font-weight: normal;
        margin: 0 0 0 0;
      }
    }
  }
}

.homepage__carousel {
  position: relative;
  background-color: $color-main;
  overflow: hidden;
  width: 100%;
  height: 500px;
  @include gutter(100%, calc($base-size * 10));
}

.homepage__gallery {
  @include gutter(100%, calc($base-size * 10));
}

ul.homepage__gallery__tiles {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: calc($base-size * 2) 0 0 0;
  padding: 0;

  li {
    list-style-type: none;
    width: 32%;
    height: auto;
    // height: 200px;
    // margin: 0 0 calc($base-size * 2) 0;
    overflow: hidden;
    position: relative;
    @include gutter(32%, 200px, $radius, $base-size/2);
    // object-fit: cover;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.homepage__gallery__footer {
  // destyle links
  a {
    text-decoration: none;
    color: $color-main;
  }
}

// .wrapper {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
// }
// .background-image {
//   position: absolute;

//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   text-align: center;
//   z-index: -1;
// }
// .caption {
//   position: relative;
//   text-align: center;
//   z-index: 1;
// }
// img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }

// .cart {
//   position: absolute;
//   width: 300px; // CODE CHANGED
//   right: 0;
//   top: $base-size;
//   padding: ($base-size) ($base-size * 1.5);
//   background: $color-light;
//   border-radius: $radius;
//   color: $color-main;
//   font-size: $base-size;
//   box-shadow: 0 0 $base-size rgba(0, 0, 0, 0.2);
//   z-index: 9999;

//   &.active {
//     .cart__content {
//       @include accordion-open();
//       padding: ($base-size * 1.5) 0 0 0;
//     }

//   }

//   &__summary {
//     @include flex(row, center, space-between);
//     text-transform: uppercase;
//     cursor: pointer;
//   }

//   &__icon {
//     font-size: ($base-size * 2);
//   }

//   &__total-number {
//     background: $color-main;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     color: $color-light;
//     text-align: center;
//     line-height: 28px;
//   }

//   &__total-price {
//     color: $color-dark;
//   }

//   &__content {
//     @include accordion-closed();
//     opacity: 0;
//     animation: flipdown 0.5s ease both;
//     color: $color-dark;
//   }

//   &__order-summary {
//     li {
//       @include flex(row, center, space-between);
//     }

//     .widget-amount {
//       @include flex(column-reverse, center, space-between);
//       margin: 0 $base-size 0 0;

//       input {
//         margin: 0;
//         width: ($base-size * 2);
//         height: ($base-size * 2);
//       }

//       &:hover .btn-quantity--lt {
//         opacity: 1;
//       }

//     }

//   }

//   &__product { // CODE CHANGED
//     width: 170px; // CODE CHANGED
//   }

//   // CODE ADDED START

//   &__product-header {
//     @include flex(row, center, space-between);
//   }

//   &__product-details {
//     li {
//       display: block;
//       margin: 0 0 ($base-size / 4) 0;
//       font-size: 10px;
//       color: lighten($color-dark, 40%);
//       text-transform: lowercase;
//       font-style: italic;
//       line-height: 1.3;
//       letter-spacing: 0.5px;
//     }

//   }

//   &__product-details-label {
//     position: relative;
//     padding: 0 ($base-size / 2) 0 0;
//     font-weight: 700;

//     &::after {
//       position: absolute;
//       content: ':';
//     }

//   }

//   // CODE ADDED END

//   &__action-buttons {
//     @include flex(row, center, space-between);
//     font-size: 0;

//     i {
//       font-size: 14px;
//     }

//     li {
//       margin: 0 0 0 $base-size;
//     }

//     a {
//       color: $color-main;

//       &:hover {
//         color: lighten($color-main, 3%);
//       }

//     }

//   }

//   &__order-price {
//     margin: $base-size 0 0 0; // CODE CHANGED
//     padding: $base-size 0;
//     list-style-type: none;
//     border-top: 1px solid lighten($color-dark, 70%);

//     li {
//       @include flex(row, center, space-between);
//     }
//   }

//   &__order-confirmation {
//     border-top: 1px solid lighten($color-dark, 70%);
//     padding: $base-size 0 0 0;

//     input, button {
//       width: 100%;
//       margin-bottom: ($base-size / 2);
//     }

//   }

// }
